name: Event CI

permissions:
  id-token: write
  contents: read

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs-only:
    uses: ./.github/workflows/task-check-docs.yml
  prepare-values:
    runs-on: ubuntu-latest
    outputs:
      redis-ref: ${{ steps.set-env.outputs.redis-ref }}
    steps:
      - name: set env
        id: set-env
        run: |
          echo "redis-ref=unstable" >> $GITHUB_OUTPUT  # todo change per version/tag
  build-linux-x64:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: x64
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
    secrets: inherit
  build-linux-arm64:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: arm64
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
    secrets: inherit
  macos:
    uses: ./.github/workflows/flow-macos.yml
    needs: [prepare-values]
    with:
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
    secrets: inherit
  linux-valgrind:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: x64
      os: jammy
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      run_valgrind: true
    secrets: inherit
  linux-sanitizer:
    needs: [prepare-values, docs-only]
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    uses: ./.github/workflows/flow-sanitizer.yml
    with:
      container: ubuntu:jammy
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
    secrets: inherit
  linux-coverage:
    needs: [prepare-values, docs-only]
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    uses: ./.github/workflows/flow-coverage.yml
    secrets: inherit
  spellcheck:
    uses: ./.github/workflows/flow-spellcheck.yml
    secrets: inherit
  linter:
    uses: ./.github/workflows/flow-linter.yml
    secrets: inherit
  memory-regression:
    needs: [prepare-values, docs-only]
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    uses: ./.github/workflows/flow-memory-regression.yml
    with:
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      os: ubuntu-latest
    secrets: inherit
